<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form
    [query]="queryChanges | async"
    (queryChange)="search($event)">
    </app-search-form>

  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{message}}</p>

    <ng-container *ngIf="albumsChanges | async as albumsList">

      <p>Found {{albumsList.length}} results</p>

      <app-albums-grid [albums]="albumsList">
      </app-albums-grid>

    </ng-container>

  </div>
</div>
