<ng-container [ngSwitch]="mode">

  <app-card *ngSwitchDefault>
    <div class="title">{{playlist.name}}</div>

    <dl [attr.title]="playlist.name">
      <dt>Name:</dt>
      <dd>{{playlist.name}}</dd>

      <dt>Favourite:</dt>
      <dd [style.fontSize.px]="20 + 2">
        {{playlist.favourite? 'Yes' : 'No' }}
      </dd>

      <dt>Color:</dt>
      <dd [style.color]="playlist.color">
        {{playlist.color}}
      </dd>
    </dl>

    <div class="buttons">
      <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
    </div>

  </app-card>

  <app-card *ngSwitchCase=" 'edit' ">
    <form #formRef="ngForm">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [ngModel]="playlist.name" name="name">
      </div>

      <div class="form-group">
        <label>Favourite:</label>
        <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
      </div>

      <div class="form-group">
        <label>Color</label>
        <input type="color" [ngModel]="playlist.color" name="color">
      </div>
    </form>
    
    <div class="buttons">
      <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
      <input type="button" value="Save" class="btn btn-success" (click)="save(formRef.value)">
    </div>
  </app-card>

</ng-container>
