<div class="card-group">
  <app-album-card *ngFor="let album of albums"
                  [album]="album">
  </app-album-card>
</div>





<!-- 
  .card-group>img.card-img-top>.card-body>h5.card-title

  http://placeholder.com/
  http://placekitten.com/
  http://place-hoff.com/
  https://www.placecage.com/ 
-->
