<!-- .row>.col*2 -->

<div class="row">
  <div class="col">

    <!-- 
      <app-my-playlists></app-my-playlists>
      <app-favourite-playlists></app-favourite-playlists>
      <app-followed-playlists></app-followed-playlists> 
    -->
    
    <app-items-list 
    [items]="playlists | async" 
    [selected]="selected | async"
    (selectedChange)=" select($event)">
  </app-items-list>
  
</div>
<div class="col">
    <router-outlet></router-outlet>
    
    <!-- <router-outlet name="awesome"></router-outlet> -->
  </div>
</div>
