<app-playlist-details 
  *ngIf="selected | async as playlist"
  (playlistChange)="save($event)"
  [playlist]="playlist">
</app-playlist-details>

<p *ngIf="!(selected | async)">Please select playlist</p>